name: Linux Build

on:
  push:
    branches: 
        - main
        - feature/* 
        - bugfix/* 
        - develop
        - bugfix/*
  pull_request:
    branches: [ develop ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: init
      run: mkdir build
    - name: install dependencies
      run: sudo apt update && sudo apt install libboost-all-dev libasound2-dev libjack-jackd2-dev ladspa-sdk libcurl4-openssl-dev libfreetype6-dev libx11-dev libxcomposite-dev libxcursor-dev libxcursor-dev libxext-dev libxinerama-dev libxrandr-dev libxrender-dev libwebkit2gtk-4.0-dev libglu1-mesa-dev mesa-common-dev
    - name: update submodules
      run: git submodule update --init --recursive --remote    
    - name: configure
      run: cmake -DCMAKE_BUILD_TYPE=Release ..
      working-directory: build
    - name: build
      run: cmake --build .
      working-directory: build
    - uses: actions/upload-artifact@v3
      with:
        name: werckmeister-VST-linux-vst2-${{ github.sha }}
        path: build/WerckmeisterVST_artefacts/Release/VST
    - uses: actions/upload-artifact@v3
      with:
        name: werckmeister-VST-linux-vst3-${{ github.sha }}
        path: build/WerckmeisterVST_artefacts/Release/VST3   
